
/*##################################################*/
/* general */
/*##################################################*/

@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&family=Coiny&family=Concert+One&family=Kirang+Haerang&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Supermercado One', sans-serif;
    letter-spacing: 0.15em;
    /*font-weight: bold;*/
}

p, a {
    font-family: 'Concert One', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.button {
    background-color: #77DBE7;
    color: #0F5B64;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: 0.75rem;
}

.button-start {
    letter-spacing: 0.3em;
}

.button-dl {
    font-family: 'Supermercado One', sans-serif;
    padding: 0.75rem;
    /*letter-spacing: 0.em;*/
}

.button:hover {
    opacity: 70%;
}

.highlight {
    display: inline-block;
    padding: 0.5em;
    color: #0F5B64;
    background-color: #77DBE7;
}

.disco {
    /*height: 129px;*/
    height: 200px;
    background-size: 200px;
    background-image: url("images/disco_for_gif.gif");
    background-repeat: repeat-x;
    background-position: center;
}

/*##################################################*/
/* card section */
/*##################################################*/

.card {
    background: white;
    margin: 2rem;
    /* grid styles */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    text-align: center;
}

.card > * {
    color: #0F5B64;
}
.card .hide {
    display: none;
}

.card > article > h1 {
    color: #DC6AD6;
    font-size: 3rem;
}

.card > article > h2 {
    font-size: 2rem;
}

.card > article > a {
    padding: 1rem;
    margin-top: .75rem;
}

.card p {
    font-size: 1.5em;
}

/*##################################################*/
/* bday grid styles */
/*##################################################*/

.finale {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.message {
    z-index: 1;
}

.message > h1 {
    font-size: 3rem;
    color: #DC6AD6;
    margin-bottom: 0;
}

.message > h1, p {
    text-align: left;
}

.gif > img {
    position: relative;
    overflow: hidden;
    /*max-height: 80vh;*/
    width: 100%;
}

footer {
    margin: 2rem;
    text-align: center;
    font-size: 1rem;
}

/*##################################################*/
/* videos styles */
/*##################################################*/

.videos {
    padding: 2rem;
}

.videos > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 4rem;
}

.videos > ul > li {
    display: block;
}

.videos > ul > li > div > iframe, #webcam {
    position: relative;
    overflow: hidden;
    width: 100%;
    border: 10px solid #77DBE7;
    border-radius: 2rem;
    object-fit: cover;
}

.videos > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
}

.videos > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
}

.video {
  height: 40vh;
}

/*###############################*/

#stage {
    overflow:auto;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

#curtain {
    background: url("images/curtain.png") repeat-x;
    background-size: auto 100%;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    transition: top 2s ease-out;
}
.curtain-up {
    top: -100vh;
}
.curtain-down {
    top: 0;
}

#curtain img {
    width:1700px;
    height: 1200px;
}

.hide {
  display: none !important;
}

#instant-replay {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
}
.instant-replay-video {
  width: 34vw;
}

#instant-replay-intro {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}
#instant-replay-intro > h1 {
  margin-top: 45vh;
  margin-left: auto;
  margin-right: auto;
  /* font-family: 'Coiny', cursive; */
  font-family: 'Fredoka One';
  font-size: 70px;
  font-weight: normal;
  letter-spacing: 0;
  border: 10px solid;
  border-radius: 2rem;
  width: fit-content;
  padding: 15px;
}

.instant-replay-color1 {
  background: #a442f5;
}
.instant-replay-color1 > h1 {
  background: #925cff;
  border-color: #451cd9;
  color: #451cd9;
}

.instant-replay-color2 {
  background: #20ba9b;
}
.instant-replay-color2 > h1 {
  background: #00d1e0;
  border-color: #0066ff;
  color: #0066ff;
}

.instant-replay-color3 {
}
.instant-replay-color3 > h1 {
  background: linear-gradient(to right, red, orange , yellow, #00ff00, cyan, blue, violet);
}
