.card {
  font-size: 48px;
  background: green;
/*  width: 800px;
  height: 500px;*/
  text-align: center;
  /*margin-left: -400px;*/
  /*top: 30%;*/
  /*left: 50%;*/
  /*position: absolute;*/
  box-sizing: border-box;
  /*padding-top: 80px;*/
/*  margin-left: auto;
  margin-right: auto;*/
}

.button {
  background: lightblue;
  width: 200px;
  margin: 0 auto;
  margin-top: 80px;
}

#stage {
  background: black;
  margin-top: 100px;
  overflow:auto;
}

#curtain {
  position: absolute;
  z-index: 1;
  height: 1200px;
  left: 50%;
  margin-left: -850px;
  transition: top 2s ease-out;
}
.curtain-up {
  top: -1300px;
}
.curtain-down {
  top: 0px;
}

#curtain img {
  width:1700px;
  height: 1200px;
}
/* .curtain-anim { */
/*   animation: 4s ease-out 0s 1 normal forwards running move_curtain; */
/* } */
/* @keyframes move_curtain { */
/*   0% { margin-top: -1200px; } */
/*   40% { margin-top: 0px; } */
/*   50% { margin-top: 0px; } */
/*   100% { margin-top: -1200px; } */
/* } */

.disco {
  height: 200px;
  background-size: 30%;
  background-image: url("images/disco_ball.gif");
  background-repeat: repeat-x;
}

.resp-wrapper {
  max-width: 980px;
  position: relative;
  margin: 0 auto;
  /*border: 1px solid green;*/
}

.video-standard {
    float: right;
    height: 300px;
    width: 47%;
    /*border: 1px solid #000;*/
    margin: 10px;
}

.video-standard iframe, .video-standard video {
    width: 100%;
    height: 100%;
}

@media (max-width:767px) {
    .video-standard {
        float: none;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.hide {
  display: none;
}
